<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
    http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
    version="2.5">
   <context-param>
   <param-name>contextConfigLocation</param-name>
   <param-value>classpath:spring-mybatis.xml,classpath:spring-context.xml,classpath:spring-transaction.xml</param-value>
  </context-param>
  
	  <filter>
	    <filter-name>LogonSecurityFilter</filter-name>
	    <filter-class>com.xiben.pm.rest.filter.LogonSecurityFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>LogonSecurityFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
  

  
   <listener>
   <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
  
	<servlet>
	    <servlet-name>springmvc</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <init-param>
	        <param-name>contextConfigLocation</param-name>
	        <param-value>classpath:spring-mvc.xml</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>springmvc</servlet-name>
	    <url-pattern>/*</url-pattern>
	</servlet-mapping>  
</web-app>
